<a href="https://colab.research.google.com/github/kalashjain9/Python-Notes/blob/main/Python_Notes_Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**AGENDA**

**â— List**

â—‹ Creation: my_list =

â—‹ Indexing/Slicing: my_list, my_list[1:3]

â—‹ Methods: append(), remove(), pop(), sort(), etc.

**â— Tuple**

â—‹ Creation: my_tuple = (1, 2, 3)

â—‹ Immutable: Cannot change elements.

â—‹ Methods: count(), index()

**â— Set**

â—‹ Creation: my_set = {1, 2, 3}

â—‹ Unique elements: No duplicates.

â—‹ Methods: add(), remove(), union(), intersection()

**â— Dictionary**

â—‹ Creation: my_dict = {"name": "Alice", "age": 25}

â—‹ Key-value pairs: Accessing (my_dict["name"]), methods (keys(),
values(), items()).

**â— For Loop in Data Structures**

â—‹ Iterating over lists, tuples, sets, dictionaries:

â—‹ for item in my_list: ...

â—‹ for key, value in my_dict.items(): ...

**Greetings, Code Explorers! ðŸš€**

Prepare yourselves! Today, we go beyond simple variables and enter the world of Data Structures. These are the fundamental ways Python organizes, manages, and stores collections of data. Mastering them is like leveling up from being a simple scribe to a master librarian of information. Each structure has its own personality, rules, and special powers. Let's meet the fantastic four.


***ðŸŽ’ The List: The All-Purpose, Infinitely-Flexible Backpack***


A list is the most common and versatile data structure in Python. Think of it as a magical backpack: you can put anything in it, in any order, add more things, take things out, and rearrange them whenever you want.

***ðŸ“œ Core Theory of Lists***

**Ordered**: This is a crucial concept. "**Ordered**" means that every item has a specific position, and that position will not change unless you explicitly change it. The item at position 0 will always be at position 0 until you move it. This allows for reliable access using an index.

**Mutable (Changeable)**: "**Mutable**" means the list can be modified after it's created. You can add, remove, or change elements. This flexibility is its greatest strength.

**Allows Duplicates**: You can have the same item in a list multiple times, and Python will treat them as distinct elements at different positions.

**Zero-Indexed**: Like most things in programming, Python starts counting from 0. The first item is at index 0, the second at index 1, and so on. The last item is at index `length - 1`.

**ðŸ› ï¸ List Creation**

**Syntax Explanation**: You create a list by enclosing a comma-separated sequence of items inside square brackets `[]`.

In [ ]:
# --- Example 1: A simple list of numbers ---
# A list to store the scores from a game.
game_scores = [120, 95, 250, 175]
print(f"Game scores: {game_scores}")

Game scores: [120, 95, 250, 175]

In [ ]:
# --- Example 2: A list of strings ---
# A list of planets in our solar system.
planets = ["Mercury", "Venus", "Earth", "Mars"]
print(f"The inner planets are: {planets}")

The inner planets are: ['Mercury', 'Venus', 'Earth', 'Mars']

In [ ]:
# --- Example 3: A list with mixed data types ---
# A list holding information about a book: [Title, Author, Year, Is_Published]
# This is possible, but often a dictionary is better for this kind of data.
book_info = ["The Hitchhiker's Guide", "Douglas Adams", 1979, True]
print(f"Book information: {book_info}")

Book information: ["The Hitchhiker's Guide", 'Douglas Adams', 1979, True]

In [ ]:
# --- Example 4: An empty list ---
# You can start with an empty list and add items to it later.
# This is extremely common.
shopping_cart = []
print(f"The shopping cart is currently empty: {shopping_cart}")

The shopping cart is currently empty: []

**ðŸŽ¯ Indexing and Slicing: Accessing Your Data**

**Syntax Explanation:**

**Indexing my_list[i]:** To get a single item, use the list's name followed by the index of the item in square brackets.

**Slicing my_list[start:stop:step]**: To get a sub-section of the list, specify a start index (**inclusive**) and a stop index (**exclusive**). The step is optional and determines the interval.

In [ ]:
# Let's use this list for our examples
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

# --- Example 1: Basic positive and negative indexing ---
# Get the very first day of the week (index 0)
first_day = weekdays[0]
print(f"The first day is: {first_day}") # Output: Monday

# Get the very last day using negative indexing (-1 is always the last item)
last_day = weekdays[-1]
print(f"The last day is: {last_day}") # Output: Sunday

The first day is: Monday
The last day is: Sunday

In [ ]:
# --- Example 2: Accessing an element in the middle ---
# Get the middle day of the week, Wednesday (index 2)
middle_day = weekdays[2]
print(f"The middle day is: {middle_day}") # Output: Wednesday

# Get the second to last day, Saturday (index -2)
second_last_day = weekdays[-2]
print(f"The day before last is: {second_last_day}") # Output: Saturday

The middle day is: Wednesday
The day before last is: Saturday

In [ ]:
# --- Example 3: Basic Slicing to get a sub-list ---
# Get the work week (Monday to Friday)
# We start at index 0 and stop at index 5 (which is Saturday, so it's not included)
work_week = weekdays[0:5]
print(f"The work week: {work_week}") # Output: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

# Get the weekend
weekend = weekdays[5:] # Leaving 'stop' empty goes to the very end
print(f"The weekend: {weekend}") # Output: ['Saturday', 'Sunday']

The work week: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
The weekend: ['Saturday', 'Sunday']

In [ ]:
# --- Example 4: Slicing with a step ---
# Get every other day of the week
every_other_day = weekdays[::2] # start:stop:step
print(f"Every other day: {every_other_day}") # Output: ['Monday', 'Wednesday', 'Friday', 'Sunday']

# Get the list in reverse! A very cool trick.
reversed_week = weekdays[::-1]
print(f"The week in reverse: {reversed_week}")

Every other day: ['Monday', 'Wednesday', 'Friday', 'Sunday']
The week in reverse: ['Sunday', 'Saturday', 'Friday', 'Thursday', 'Wednesday', 'Tuesday', 'Monday']

**âœ¨ List Methods: Your List's Superpowers**

These are built-in functions that belong to lists and let you modify them.

**append()** - Adds an item to the end of the list.

In [ ]:
# --- Example 1: Appending a number to a list of numbers ---
numbers = [10, 20, 30]
numbers.append(40)
print(f"Numbers after append: {numbers}") # Output: [10, 20, 30, 40]

Numbers after append: [10, 20, 30, 40]

In [ ]:
# --- Example 2: Appending a string to a list of tasks ---
tasks = ["Clean room", "Do homework"]
tasks.append("Go to the gym")
print(f"Tasks after append: {tasks}") # Output: ['Clean room', 'Do homework', 'Go to the gym']

Tasks after append: ['Clean room', 'Do homework', 'Go to the gym']

In [ ]:
# --- Example 3: Appending to an empty list ---
ingredients = []
ingredients.append("Flour")
ingredients.append("Sugar")
print(f"Ingredients so far: {ingredients}") # Output: ['Flour', 'Sugar']

Ingredients so far: ['Flour', 'Sugar']

In [ ]:
# --- Example 4: Appending another list ---
# This nests the entire list as a SINGLE item.
items = [1, 2]
items.append([3, 4])
print(f"List with a nested list: {items}") # Output: [1, 2, [3, 4]]

List with a nested list: [1, 2, [3, 4]]

**extend()** - Appends all the elements from an iterable (like another list) to the end of the current list.

In [ ]:
# --- Example 1: Extending with another list ---
list1 = [1, 2, 3]
list2 = [4, 5]
list1.extend(list2)
print(f"List after extend: {list1}") # Output: [1, 2, 3, 4, 5]

List after extend: [1, 2, 3, 4, 5]

In [ ]:
# --- Example 2: Extending with a tuple ---
numbers = [10, 20]
more_numbers = (30, 40)
numbers.extend(more_numbers)
print(f"Numbers after extending with a tuple: {numbers}") # Output: [10, 20, 30, 40]

Numbers after extending with a tuple: [10, 20, 30, 40]

In [ ]:
# --- Example 3: Extending with a string (iterates over characters) ---
chars = ['a', 'b']
chars.extend("cd") # Each character 'c', 'd' is added individually
print(f"Characters after extending with a string: {chars}") # Output: ['a', 'b', 'c', 'd']

Characters after extending with a string: ['a', 'b', 'c', 'd']

In [ ]:
# --- Example 4: Extending an empty list ---
empty = []
data = [1, 2, 3]
empty.extend(data)
print(f"Empty list after extend: {empty}") # Output: [1, 2, 3]

Empty list after extend: [1, 2, 3]

**insert(index, element)** - Inserts an element at a specified index.

In [ ]:
# --- Example 1: Inserting at the beginning ---
fruits = ["banana", "cherry"]
fruits.insert(0, "apple")
print(f"Fruits after inserting at beginning: {fruits}") # Output: ['apple', 'banana', 'cherry']

Fruits after inserting at beginning: ['apple', 'banana', 'cherry']

In [ ]:
# --- Example 2: Inserting in the middle ---
colors = ["red", "blue"]
colors.insert(1, "green")
print(f"Colors after inserting in middle: {colors}") # Output: ['red', 'green', 'blue']

Colors after inserting in middle: ['red', 'green', 'blue']

In [ ]:
# --- Example 3: Inserting at an index beyond the end (behaves like append) ---
items = [1, 2]
items.insert(100, 3) # Index 100 is far beyond current length (2), so it adds to end.
print(f"Items after inserting beyond end: {items}") # Output: [1, 2, 3]

Items after inserting beyond end: [1, 2, 3]

In [ ]:
# --- Example 4: Inserting into an empty list ---
empty_list = []
empty_list.insert(0, "first")
print(f"Empty list after first insert: {empty_list}") # Output: ['first']

Empty list after first insert: ['first']

**remove(value)** - Removes the first occurrence of a specific value.

In [ ]:
# --- Example 1: Removing a specific number ---
inventory = [101, 205, 300, 205]
inventory.remove(205) # It only removes the FIRST 205 it finds
print(f"Inventory after removing 205: {inventory}") # Output: [101, 300, 205]

Inventory after removing 205: [101, 300, 205]

In [ ]:
# --- Example 2: Removing a specific string ---
guests = ["Alice", "Bob", "Charlie", "David"]
guests.remove("Bob")
print(f"Guests after Bob left: {guests}") # Output: ['Alice', 'Charlie', 'David']

Guests after Bob left: ['Alice', 'Charlie', 'David']

In [ ]:
# --- Example 3: Removing an item that appears at the end ---
letters = ['a', 'b', 'c', 'd']
letters.remove('d')
print(f"Letters after removing 'd': {letters}") # Output: ['a', 'b', 'c']

Letters after removing 'd': ['a', 'b', 'c']

In [ ]:
# --- Example 4: What happens if the item is not there? ---
# This will cause a ValueError and crash the program if not handled.
colors = ["red", "green", "blue"]
try:
    colors.remove("yellow")
except ValueError:
    print("Cannot remove 'yellow' - it's not in the list!")
print(f"Colors after attempted removal: {colors}") # Output: ['red', 'green', 'blue']

Cannot remove 'yellow' - it's not in the list!
Colors after attempted removal: ['red', 'green', 'blue']

**pop(index)** - Removes and returns the item at a specific index. If no index is given, it removes and returns the last item.

In [ ]:
# --- Example 1: Popping the last item ---
playlist = ["Song A", "Song B", "Song C"]
last_song = playlist.pop() # No index means the last one
print(f"The song that just finished was: {last_song}") # Output: The song that just finished was: Song C
print(f"Remaining playlist: {playlist}") # Output: Remaining playlist: ['Song A', 'Song B']

The song that just finished was: Song C
Remaining playlist: ['Song A', 'Song B']

In [ ]:
# --- Example 2: Popping an item from a specific index ---
queue = ["Person 1", "Person 2", "Person 3"]
first_in_line = queue.pop(0) # Remove the person at the front (index 0)
print(f"Now serving: {first_in_line}") # Output: Now serving: Person 1
print(f"Current queue: {queue}") # Output: Current queue: ['Person 2', 'Person 3']

Now serving: Person 1
Current queue: ['Person 2', 'Person 3']

In [ ]:
# --- Example 3: Popping from the middle ---
cards = ["Ace", "King", "Queen", "Jack"]
middle_card = cards.pop(2) # Removes "Queen"
print(f"You drew the {middle_card}. Cards left: {cards}") # Output: You drew the Queen. Cards left: ['Ace', 'King', 'Jack']

You drew the Queen. Cards left: ['Ace', 'King', 'Jack']

In [ ]:
# --- Example 4: Using pop in a loop (a common pattern for stacks/queues) ---
stack = [1, 2, 3, 4, 5]
print("\nProcessing stack:")
while len(stack) > 0:
    item = stack.pop()
    print(f"Processing item {item} from the stack.")
# Output:
# Processing item 5 from the stack.
# Processing item 4 from the stack.
# ...

Processing stack:
Processing item 5 from the stack.
Processing item 4 from the stack.
Processing item 3 from the stack.
Processing item 2 from the stack.
Processing item 1 from the stack.

**clear()** - Removes all items from the list, making it empty.

In [ ]:
# --- Example 1: Clearing a list of numbers ---
data_points = [10, 20, 30]
data_points.clear()
print(f"Data points after clear: {data_points}") # Output: []

Data points after clear: []

In [ ]:
# --- Example 2: Clearing a list of strings ---
messages = ["Hello", "World"]
messages.clear()
print(f"Messages after clear: {messages}") # Output: []

Messages after clear: []

In [ ]:
# --- Example 3: Clearing an already empty list ---
empty_list = []
empty_list.clear()
print(f"Already empty list after clear: {empty_list}") # Output: []

Already empty list after clear: []

In [ ]:
# --- Example 4: Verifying the effect of clear() ---
my_list = [1, 2, 3]
my_list.clear()
if not my_list:
    print("The list is now empty!") # Output: The list is now empty!

The list is now empty!

**index(value, start, end)** - Returns the index of the first occurrence of a specified value. Optional start and end parameters can limit the search.

In [ ]:
# --- Example 1: Finding the index of a number ---
numbers = [10, 20, 30, 20]
idx1 = numbers.index(20)
print(f"First occurrence of 20 is at index: {idx1}") # Output: 1

First occurrence of 20 is at index: 1

In [ ]:
# --- Example 2: Finding the index of a string ---
fruits = ["apple", "banana", "cherry"]
idx2 = fruits.index("banana")
print(f"Banana is at index: {idx2}") # Output: 1

Banana is at index: 1

In [ ]:
# --- Example 3: Specifying a start index for search ---
repeated_nums = [1, 2, 3, 1, 4]
idx3 = repeated_nums.index(1, 1) # Start searching from index 1
print(f"Second occurrence of 1 is at index: {idx3}") # Output: 3

Second occurrence of 1 is at index: 3

In [ ]:
# --- Example 4: Value not found (causes ValueError) ---
items = ["pen", "pencil"]
try:
    items.index("eraser")
except ValueError:
    print("Eraser not found in the list.") # Output: Eraser not found in the list.

Eraser not found in the list.

**count(value)** - Returns the number of times a specified value appears in the list.

In [ ]:
# --- Example 1: Counting occurrences of a number ---
data = [1, 2, 2, 3, 1, 2, 4]
count_2 = data.count(2)
print(f"Number 2 appears {count_2} times.") # Output: 3 times.

Number 2 appears 3 times.

In [ ]:
# --- Example 2: Counting occurrences of a string ---
words = ["apple", "orange", "apple", "grape", "orange", "apple"]
count_apple = words.count("apple")
print(f"Apple appears {count_apple} times.") # Output: 3 times.

Apple appears 3 times.

In [ ]:
# --- Example 3: Counting an item not present ---
count_banana = words.count("banana")
print(f"Banana appears {count_banana} times.") # Output: 0 times.

Banana appears 0 times.

In [ ]:
# --- Example 4: Counting in a mixed-type list ---
mixed_list = [1, "a", 1.0, True, 1] # Note: 1, 1.0, and True might be considered the same value for count
count_one = mixed_list.count(1)
print(f"The value 1 appears {count_one} times.") # Output: 3 (Python considers 1, 1.0, True as equal)

The value 1 appears 4 times.

**sort(reverse=False)** - Sorts the list in-place (it modifies the original list). By default, it sorts in ascending order. Set reverse=True for descending.

In [ ]:
# --- Example 1: Sorting a list of numbers (ascending) ---
scores = [99, 34, 102, 50, 77]
scores.sort()
print(f"Sorted scores (ascending): {scores}") # Output: [34, 50, 77, 99, 102]

Sorted scores (ascending): [34, 50, 77, 99, 102]

In [ ]:
# --- Example 2: Sorting a list of strings (alphabetically) ---
names = ["Rohan", "Aisha", "Zoya", "Ben"]
names.sort()
print(f"Sorted names: {names}") # Output: ['Aisha', 'Ben', 'Rohan', 'Zoya']

Sorted names: ['Aisha', 'Ben', 'Rohan', 'Zoya']

In [ ]:
# --- Example 3: Sorting in descending order ---
temperatures = [25.5, 30.1, 22.0, 28.9]
temperatures.sort(reverse=True)
print(f"Temperatures from highest to lowest: {temperatures}") # Output: [30.1, 28.9, 25.5, 22.0]

Temperatures from highest to lowest: [30.1, 28.9, 25.5, 22.0]

In [ ]:
# --- Example 4: Sorting a list that is already sorted ---
# It just stays the same, no errors.
sorted_nums = [1, 2, 3, 4]
sorted_nums.sort()
print(f"Sorting an already sorted list: {sorted_nums}") # Output: [1, 2, 3, 4]

Sorting an already sorted list: [1, 2, 3, 4]

**reverse()** - Reverses the order of elements in the list in-place.

In [ ]:
# --- Example 1: Reversing a simple list ---
my_list = [1, 2, 3, 4]
my_list.reverse()
print(f"Reversed list: {my_list}") # Output: [4, 3, 2, 1]

Reversed list: [4, 3, 2, 1]

In [ ]:
# --- Example 2: Reversing a list of strings ---
words = ["first", "second", "third"]
words.reverse()
print(f"Reversed words: {words}") # Output: ['third', 'second', 'first']

Reversed words: ['third', 'second', 'first']

In [ ]:
# --- Example 3: Reversing an empty list (no effect) ---
empty = []
empty.reverse()
print(f"Reversed empty list: {empty}") # Output: []

Reversed empty list: []

In [ ]:
# --- Example 4: Reversing a list with duplicates ---
duplicates = [1, 2, 1, 3, 2]
duplicates.reverse()
print(f"Reversed list with duplicates: {duplicates}") # Output: [2, 3, 1, 2, 1]

Reversed list with duplicates: [2, 3, 1, 2, 1]

**copy()** - Returns a shallow copy of the list. This is important to avoid modifying the original list unintentionally.

In [ ]:
# --- Example 1: Creating a shallow copy ---
original_list = [1, 2, 3]
copied_list = original_list.copy()
copied_list.append(4)
print(f"Original list: {original_list}") # Output: [1, 2, 3]
print(f"Copied list: {copied_list}") # Output: [1, 2, 3, 4]

Original list: [1, 2, 3]
Copied list: [1, 2, 3, 4]

In [ ]:
# --- Example 2: Demonstrating shallow copy with nested lists ---
# Changes to nested lists will affect both the original and the copy.
nested_original = [[1, 2], [3, 4]]
nested_copy = nested_original.copy()
nested_copy[0].append(5) # Modifies the inner list
print(f"Nested original: {nested_original}") # Output: [[1, 2, 5], [3, 4]]
print(f"Nested copy: {nested_copy}") # Output: [[1, 2, 5], [3, 4]]

Nested original: [[1, 2, 5], [3, 4]]
Nested copy: [[1, 2, 5], [3, 4]]

In [ ]:

# --- Example 3: Copying an empty list ---
empty_original = []
empty_copy = empty_original.copy()
print(f"Empty original: {empty_original}") # Output: []
print(f"Empty copy: {empty_copy}") # Output: []

Empty original: []
Empty copy: []

In [ ]:
# --- Example 4: Copying using slicing (another way to get a shallow copy) ---
list_a = [10, 20, 30]
list_b = list_a[:] # This creates a shallow copy, similar to .copy()
list_b[0] = 99
print(f"List A: {list_a}") # Output: [10, 20, 30]
print(f"List B (copy via slice): {list_b}") # Output: [99, 20, 30]

List A: [10, 20, 30]
List B (copy via slice): [99, 20, 30]

***ðŸ† The Tuple: The Unchanging, Trustworthy Trophy Case***

A tuple is a list's strict sibling. It's an ordered collection, but once you create it, it is immutableâ€”it cannot be changed.

***ðŸ“œ Core Theory of Tuples***

**Ordered:** Just like lists, tuples maintain the order of items. (1, 2) is different from (2, 1).

**Immutable (Unchangeable):** This is the defining feature. You cannot add, remove, or change elements after the tuple is created. This provides data integrity, ensuring that the data remains constant throughout your program's execution.

***When to use a Tuple?***

When you have data that should not change, like coordinates, RGB color values, or configuration settings.

As keys in a dictionary (since dictionary keys must be immutable). Lists cannot be dictionary keys.

They can be slightly faster than lists for iteration because of their fixed nature.

***ðŸ› ï¸ Tuple Creation***

**Syntax Explanation:** You create a tuple by enclosing a comma-separated sequence of items inside parentheses (). For a single-item tuple, you must include a trailing comma.

In [ ]:
# --- Example 1: A simple tuple of constants ---
# Pi, Gravity, Speed of Light (simplified)
physical_constants = (3.14159, 9.8, 299792458)
print(f"Some constants: {physical_constants}")

Some constants: (3.14159, 9.8, 299792458)

In [ ]:
# --- Example 2: The single-item tuple trick ---
# Without the comma, Python thinks it's just a string in parentheses.
not_a_tuple = ("hello")
is_a_tuple = ("hello",) # Note the comma!
print(f"This is a {type(not_a_tuple)}.") # Output: This is a <class 'str'>.
print(f"This is a {type(is_a_tuple)}.") # Output: This is a <class 'tuple'>.

This is a <class 'str'>.
This is a <class 'tuple'>.

In [ ]:
# --- Example 3: Creating a tuple from a list ---
# The tuple() constructor can convert other iterables.
my_list = [1, "a", True]
my_tuple = tuple(my_list)
print(f"Converted from list: {my_tuple}") # Output: Converted from list: (1, 'a', True)

Converted from list: (1, 'a', True)

In [ ]:
# --- Example 4: Tuple with mixed data types ---
# Storing a user's record: (ID, Username, Last_Login_Date)
user_record = (101, "alex_d", "2025-06-21")
print(f"User record: {user_record}")

User record: (101, 'alex_d', '2025-06-21')

***ðŸ’Ž The Power of Immutability***

This is best demonstrated by showing what you cannot do.

In [ ]:
# Let's use this tuple for all examples
config_settings = ("dark_mode", 1080, "auto_save")
print(f"Initial config: {config_settings}")

# --- Example 1: Attempting to change an element ---
# This will raise a TypeError.
# config_settings[0] = "light_mode" # UNCOMMENT TO SEE THE ERROR!
print("Attempting to change element would cause: TypeError: 'tuple' object does not support item assignment")

Initial config: ('dark_mode', 1080, 'auto_save')
Attempting to change element would cause: TypeError: 'tuple' object does not support item assignment

In [ ]:
# --- Example 2: Attempting to append an element ---
# Tuples do not have an 'append' method. This will raise an AttributeError.
# config_settings.append(True) # UNCOMMENT TO SEE THE ERROR!
print("Attempting to append element would cause: AttributeError: 'tuple' object has no attribute 'append'")

Attempting to append element would cause: AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# --- Example 3: Attempting to remove an element ---
# Tuples do not have a 'remove' or 'pop' method. This will raise an AttributeError.
# config_settings.pop() # UNCOMMENT TO SEE THE ERROR!
print("Attempting to remove element would cause: AttributeError: 'tuple' object has no attribute 'pop'")

Attempting to remove element would cause: AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
# --- Example 4: Attempting to sort the tuple ---
# Tuples do not have a 'sort' method. This will raise an AttributeError.
# config_settings.sort() # UNCOMMENT TO SEE THE ERROR!
print("Attempting to sort tuple would cause: AttributeError: 'tuple' object has no attribute 'sort'")

# To "change" a tuple, you must create a new one.
new_config = ("light_mode", config_settings[1], config_settings[2])
print(f"The only way to 'change' is to create a new tuple: {new_config}")

Attempting to sort tuple would cause: AttributeError: 'tuple' object has no attribute 'sort'
The only way to 'change' is to create a new tuple: ('light_mode', 1080, 'auto_save')

***âœ¨ Tuple Methods***

Because they are immutable, tuples have very few methods.

**count(value)** - Counts the occurrences of a value.

In [ ]:
# Let's use this tuple for our examples
grades = ('A', 'C', 'B', 'A', 'A', 'B')

# --- Example 1: Count how many 'A' grades there are. ---
a_grades = grades.count('A')
print(f"Number of 'A' grades: {a_grades}") # Output: 3

Number of 'A' grades: 3

In [ ]:
# --- Example 2: Count how many 'B' grades there are. ---
b_grades = grades.count('B')
print(f"Number of 'B' grades: {b_grades}") # Output: 2

Number of 'B' grades: 2

In [ ]:
# --- Example 3: Count a value not present. ---
d_grades = grades.count('D')
print(f"Number of 'D' grades: {d_grades}") # Output: 0

Number of 'D' grades: 0

In [ ]:
# --- Example 4: Count a specific number in a tuple of numbers. ---
numbers_tuple = (1, 5, 2, 5, 5, 8)
count_five = numbers_tuple.count(5)
print(f"Number 5 appears {count_five} times: {numbers_tuple}") # Output: 3

Number 5 appears 3 times: (1, 5, 2, 5, 5, 8)

**index(value, start, end)** - Returns the index of the first occurrence of a value. Optional start and end parameters can limit the search.

In [ ]:
# Let's use this tuple for our examples
grades = ('A', 'C', 'B', 'A', 'A', 'B')

# --- Example 1: Find the position of the first 'B' grade. ---
first_b_index = grades.index('B')
print(f"The first 'B' grade is at index: {first_b_index}") # Output: 2

The first 'B' grade is at index: 2

In [ ]:
# --- Example 2: Find the position of the first 'C' grade. ---
first_c_index = grades.index('C')
print(f"The first 'C' grade is at index: {first_c_index}") # Output: 1

The first 'C' grade is at index: 1

In [ ]:
# --- Example 3: Find the index of a repeated element after a certain position. ---
try:
    second_a_index = grades.index('A', 1) # Start searching from index 1
    print(f"The second 'A' grade is at index: {second_a_index}") # Output: 3
except ValueError:
    print("Value 'A' not found after index 1.")

The second 'A' grade is at index: 3

In [ ]:
# --- Example 4: What happens if the item is not there? (Causes ValueError) ---
try:
    grades.index('F')
except ValueError:
    print("Grade 'F' not found in the tuple.") # Output: Grade 'F' not found in the tuple.

Grade 'F' not found in the tuple.

***ðŸƒ The Set: The Guardian of Uniqueness***

A set is a collection that is both unordered and unindexed, with its most important characteristic being that it does not allow duplicate elements.

***ðŸ“œ Core Theory of Sets***

***Unordered***: This is key. Unlike lists and tuples, sets do not maintain any order. When you print a set, the items could appear in any sequence, and it might even change between runs. You cannot ask for "the item at index 2."

***Unique Elements***: This is the set's superpower. If you add an item to a set that already contains that item, nothing happens. It's automatically ignored. This makes sets perfect for tracking unique items.

***Immutable Elements (for hashing)***: While the set itself is mutable (you can add/remove elements), the elements within a set must be immutable (like numbers, strings, tuples). This is because sets use a hash table for fast lookups, and mutable types cannot be reliably hashed.

***Mathematical Operations***: Sets in Python are designed to behave like mathematical sets, so you can perform operations like union, intersection, and difference.

***ðŸ› ï¸ Set Creation***

**Syntax Explanation**: You can create a set with comma-separated values inside curly braces {} or by using the set() constructor on another iterable (like a list). To create an empty set, you must use set().

In [ ]:
# --- Example 1: Creating a set from a list with duplicates ---
# The duplicates (10, 30) will be automatically removed.
numbers_list = [10, 20, 30, 10, 30, 40]
numbers_set = set(numbers_list)
print(f"Set from list (duplicates gone): {numbers_set}") # Output: {40, 10, 20, 30} (order may vary)

Set from list (duplicates gone): {40, 10, 20, 30}

In [ ]:
# --- Example 2: Creating a set directly with strings ---
# The order you type them in might not be the order they are stored/printed.
tags = {"python", "coding", "bootcamp", "djsi"}
print(f"Blog tags: {tags}") # Output: {'djsi', 'python', 'coding', 'bootcamp'} (order may vary)

Blog tags: {'djsi', 'bootcamp', 'coding', 'python'}

In [ ]:
# --- Example 3: Creating an empty set (the correct way) ---
empty_set = set()
print(f"An empty set: {empty_set}") # Output: set()
# empty_dict = {} # This would create a dictionary, not a set!

An empty set: set()

In [ ]:
# --- Example 4: Creating a set of characters from a string ---
# A string is an iterable, so set() will make a set of its unique characters.
unique_chars = set("hello world")
print(f"Unique characters in 'hello world': {unique_chars}") # Output: {' ', 'o', 'l', 'd', 'e', 'r', 'h', 'w'} (order may vary)

Unique characters in 'hello world': {'d', ' ', 'h', 'w', 'o', 'r', 'e', 'l'}

***âœ¨ Set Methods: The Venn Diagram Powers***

**add(element)** - Adds a single element to the set. If the element is already present, nothing happens.

In [ ]:
# --- Example 1: Adding a new number ---
primes = {2, 3, 5, 7}
primes.add(11)
print(f"Primes after adding 11: {primes}") # Output: {2, 3, 5, 7, 11} (order may vary)

Primes after adding 11: {2, 3, 5, 7, 11}

In [ ]:
# --- Example 2: Adding an existing element ---
# Nothing happens. No error, just no change.
primes.add(7)
print(f"Primes after adding 7 again: {primes}") # Output: {2, 3, 5, 7, 11} (order may vary)

Primes after adding 7 again: {2, 3, 5, 7, 11}

In [ ]:
# --- Example 3: Adding a string ---
fruits = {"apple", "banana"}
fruits.add("cherry")
print(f"Fruits: {fruits}") # Output: {'cherry', 'banana', 'apple'} (order may vary)

Fruits: {'apple', 'cherry', 'banana'}

In [ ]:
# --- Example 4: Starting with an empty set and adding to it ---
seen_ips = set()
seen_ips.add("192.168.1.1")
seen_ips.add("10.0.0.1")
print(f"IP addresses seen so far: {seen_ips}") # Output: {'10.0.0.1', '192.168.1.1'} (order may vary)

IP addresses seen so far: {'10.0.0.1', '192.168.1.1'}

**remove(element)** - Removes a specified element from the set. Raises a KeyError if the element is not found.

In [ ]:
# --- Example 1: Removing an existing element ---
my_set = {1, 2, 3, 4}
my_set.remove(3)
print(f"Set after removing 3: {my_set}") # Output: {1, 2, 4} (order may vary)

Set after removing 3: {1, 2, 4}

In [ ]:
# --- Example 2: Removing an element that is not present (raises KeyError) ---
try:
    my_set.remove(99)
except KeyError:
    print("Cannot remove 99 - it's not in the set!") # Output: Cannot remove 99 - it's not in the set!
print(f"Set after failed remove attempt: {my_set}") # Output: {1, 2, 4} (order may vary)

Cannot remove 99 - it's not in the set!
Set after failed remove attempt: {1, 2, 4}

In [ ]:
# --- Example 3: Removing a string element ---
cities = {"Mumbai", "Delhi", "Chennai"}
cities.remove("Delhi")
print(f"Cities after removing Delhi: {cities}") # Output: {'Mumbai', 'Chennai'} (order may vary)

Cities after removing Delhi: {'Mumbai', 'Chennai'}

In [ ]:
# --- Example 4: Using remove in a condition ---
elements = {'a', 'b', 'c'}
if 'b' in elements:
    elements.remove('b')
    print(f"'b' was removed. Current set: {elements}") # Output: 'b' was removed. Current set: {'a', 'c'}

'b' was removed. Current set: {'c', 'a'}

**discard(element)** - Removes a specified element from the set if it is present. Unlike remove(), it does not raise an error if the element is not found.

In [ ]:
# --- Example 1: Discarding an existing element ---
planets = {"Mars", "Earth", "Jupiter"}
planets.discard("Earth")
print(f"Planets after discarding Earth: {planets}") # Output: {'Mars', 'Jupiter'} (order may vary)

Planets after discarding Earth: {'Mars', 'Jupiter'}

In [ ]:
# --- Example 2: Discarding an element that is not present (no error) ---
planets.discard("Neptune")
print(f"Planets after discarding non-existent Neptune: {planets}") # Output: {'Mars', 'Jupiter'} (order may vary)

Planets after discarding non-existent Neptune: {'Mars', 'Jupiter'}

In [ ]:
# --- Example 3: Discarding a number ---
numbers = {10, 20, 30}
numbers.discard(20)
print(f"Numbers after discarding 20: {numbers}") # Output: {10, 30} (order may vary)

Numbers after discarding 20: {10, 30}

In [ ]:
# --- Example 4: Using discard when you're unsure if the item exists ---
user_roles = {"admin", "editor", "viewer"}
user_roles.discard("moderator") # No error if 'moderator' isn't there
print(f"User roles after discarding moderator: {user_roles}") # Output: {'editor', 'viewer', 'admin'} (order may vary)

User roles after discarding moderator: {'editor', 'admin', 'viewer'}

**pop()** - Removes and returns an arbitrary (random) element from the set. Raises a KeyError if the set is empty.

In [ ]:
# --- Example 1: Popping an element from a set ---
unique_ids = {101, 102, 103, 104}
removed_id = unique_ids.pop()
print(f"Removed ID: {removed_id}") # Output: An arbitrary ID (e.g., 101 or 102 etc.)
print(f"Remaining IDs: {unique_ids}") # Remaining set without the popped ID

Removed ID: 104
Remaining IDs: {101, 102, 103}

In [ ]:
# --- Example 2: Popping multiple times (emptying the set) ---
chars = {'a', 'b', 'c'}
print(f"Initial chars: {chars}")
while chars: # Loop as long as the set is not empty
    popped_char = chars.pop()
    print(f"Popped: {popped_char}, Remaining: {chars}")
# Output: (order will vary)
# Popped: c, Remaining: {'a', 'b'}
# Popped: b, Remaining: {'a'}
# Popped: a, Remaining: set()

Initial chars: {'c', 'a', 'b'}
Popped: c, Remaining: {'a', 'b'}
Popped: a, Remaining: {'b'}
Popped: b, Remaining: set()

In [ ]:
# --- Example 3: Popping from an empty set (raises KeyError) ---
empty_set = set()
try:
    empty_set.pop()
except KeyError:
    print("Cannot pop from an empty set!") # Output: Cannot pop from an empty set!

Cannot pop from an empty set!

In [ ]:
# --- Example 4: Combining pop with a check ---
items = {5, 6}
if items: # Check if set is not empty before popping
    item = items.pop()
    print(f"Item popped: {item}")

Item popped: 5

**clear()** - Removes all elements from the set.

In [ ]:
# --- Example 1: Clearing a set ---
my_set = {1, 2, 3}
my_set.clear()
print(f"Set after clear: {my_set}") # Output: set()

Set after clear: set()

In [ ]:
# --- Example 2: Clearing a set of strings ---
tags = {"dev", "code"}
tags.clear()
print(f"Tags after clear: {tags}") # Output: set()

Tags after clear: set()

In [ ]:

# --- Example 3: Clearing an already empty set ---
empty = set()
empty.clear()
print(f"Already empty set after clear: {empty}") # Output: set()

Already empty set after clear: set()

In [ ]:
# --- Example 4: Verifying emptiness after clear ---
data_set = {10, 20}
data_set.clear()
if not data_set:
    print("The set is now empty.") # Output: The set is now empty.

The set is now empty.

**union(other_set, ...)** - Returns a new set containing all unique elements from the current set and all specified other sets. Can use the | operator.

In [ ]:
dev_team_A = {"Alice", "Bob", "Charlie"}
dev_team_B = {"Charlie", "David", "Eve"}

# --- Example 1: Basic union ---
all_developers = dev_team_A.union(dev_team_B)
print(f"All developers in both teams: {all_developers}") # Output: {'Alice', 'Bob', 'Charlie', 'David', 'Eve'} (order may vary)

All developers in both teams: {'Charlie', 'Alice', 'Eve', 'Bob', 'David'}

In [ ]:
# --- Example 2: Union with an empty set ---
# The result is just the original set.
union_with_empty = dev_team_A.union(set())
print(f"Union with empty set: {union_with_empty}") # Output: {'Alice', 'Bob', 'Charlie'} (order may vary)

Union with empty set: {'Bob', 'Charlie', 'Alice'}

In [ ]:
# --- Example 3: Union of number sets ---
set1 = {1, 2, 3}
set2 = {3, 4, 5}
number_union = set1.union(set2)
print(f"Union of number sets: {number_union}") # Output: {1, 2, 3, 4, 5} (order may vary)

Union of number sets: {1, 2, 3, 4, 5}

In [ ]:
# --- Example 4: The union operator `|` ---
# This is a shorthand way to do the same thing.
all_devs_shorthand = dev_team_A | dev_team_B
print(f"Union using operator '|': {all_devs_shorthand}") # Output: {'Alice', 'Bob', 'Charlie', 'David', 'Eve'} (order may vary)

Union using operator '|': {'Charlie', 'Alice', 'Eve', 'Bob', 'David'}

**intersection(other_set, ...)** - Returns a new set containing only elements that are common to all specified sets (present in all of them). Can use the & operator.

In [ ]:
frontend_skills = {"HTML", "CSS", "JavaScript", "React"}
backend_skills = {"Python", "SQL", "JavaScript"}

# --- Example 1: Basic intersection ---
full_stack_skills = frontend_skills.intersection(backend_skills)
print(f"Skills needed for full-stack: {full_stack_skills}") # Output: {'JavaScript'}

Skills needed for full-stack: {'JavaScript'}

In [ ]:
# --- Example 2: Intersection where there is no overlap ---
set_A = {1, 2, 3}
set_B = {4, 5, 6}
no_common_items = set_A.intersection(set_B)
print(f"Intersection with no overlap: {no_common_items}") # Output: set()

Intersection with no overlap: set()

In [ ]:
# --- Example 3: Intersection with more than two sets ---
set_C = {"JavaScript", "TypeScript", "HTML"}
common_in_three = frontend_skills.intersection(backend_skills, set_C)
print(f"Skill common to all three sets: {common_in_three}") # Output: {'JavaScript'}

Skill common to all three sets: {'JavaScript'}

In [ ]:
# --- Example 4: The intersection operator `&` ---
# This is a shorthand way to do the same thing.
full_stack_shorthand = frontend_skills & backend_skills
print(f"Intersection using operator '&': {full_stack_shorthand}") # Output: {'JavaScript'}

Intersection using operator '&': {'JavaScript'}

**difference(other_set, ...)** - Returns a new set containing elements that are in the first set but NOT in the other specified sets. Can use the - operator.

In [ ]:
all_students = {"Alice", "Bob", "Charlie", "David"}
graduated_students = {"Bob", "David"}

# --- Example 1: Basic difference ---
current_students = all_students.difference(graduated_students)
print(f"Current students: {current_students}") # Output: {'Alice', 'Charlie'} (order may vary)

Current students: {'Charlie', 'Alice'}

In [ ]:
# --- Example 2: Difference with no common elements ---
set_X = {10, 20, 30}
set_Y = {40, 50}
diff_no_overlap = set_X.difference(set_Y)
print(f"Difference with no overlap: {diff_no_overlap}") # Output: {10, 20, 30} (order may vary)

Difference with no overlap: {10, 20, 30}

In [ ]:
# --- Example 3: Difference from multiple sets ---
set_grades = {'A', 'B', 'C', 'D', 'F'}
passing_grades = {'A', 'B', 'C'}
failed_grades = set_grades.difference(passing_grades)
print(f"Failed grades: {failed_grades}") # Output: {'F', 'D'} (order may vary)

Failed grades: {'F', 'D'}

In [ ]:
# --- Example 4: The difference operator `-` ---
remaining_tasks = {"Task1", "Task2", "Task3"}
completed_tasks = {"Task1"}
pending_tasks = remaining_tasks - completed_tasks
print(f"Pending tasks using operator '-': {pending_tasks}") # Output: {'Task2', 'Task3'} (order may vary)

Pending tasks using operator '-': {'Task2', 'Task3'}

**symmetric_difference(other_set)**- Returns a new set containing elements that are in either set, but not in both. Can use the ^ operator.

In [ ]:
developers = {"Alice", "Bob", "Charlie"}
designers = {"Charlie", "David", "Alice"}

# --- Example 1: Basic symmetric difference ---
unique_roles = developers.symmetric_difference(designers)
print(f"Unique roles (not common to both): {unique_roles}") # Output: {'Bob', 'David'} (order may vary)

Unique roles (not common to both): {'Bob', 'David'}

In [ ]:
# --- Example 2: Symmetric difference with no overlap (same as union) ---
set_P = {1, 2}
set_Q = {3, 4}
sym_diff_no_overlap = set_P.symmetric_difference(set_Q)
print(f"Symmetric difference with no overlap: {sym_diff_no_overlap}") # Output: {1, 2, 3, 4} (order may vary)

Symmetric difference with no overlap: {1, 2, 3, 4}

In [ ]:
# --- Example 3: Symmetric difference with one empty set ---
set_R = {5, 6}
sym_diff_empty = set_R.symmetric_difference(set())
print(f"Symmetric difference with empty set: {sym_diff_empty}") # Output: {5, 6} (order may vary)

Symmetric difference with empty set: {5, 6}

In [ ]:
# --- Example 4: The symmetric difference operator `^` ---
exclusive_members = developers ^ designers
print(f"Exclusive members using operator '^': {exclusive_members}") # Output: {'Bob', 'David'} (order may vary)

Exclusive members using operator '^': {'Bob', 'David'}

**issubset(other_set)** - Returns True if all elements of the current set are present in the other_set.

**issuperset(other_set)** - Returns True if all elements of the other_set are present in the current set.

**isdisjoint(other_set)** - Returns True if the two sets have no elements in common.

In [ ]:
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
C = {4, 5}
D = {6, 7}

# --- Example 1: issubset() ---
print(f"Is A a subset of B? {A.issubset(B)}") # Output: True
print(f"Is B a subset of A? {B.issubset(A)}") # Output: False

Is A a subset of B? True
Is B a subset of A? False

In [ ]:
# --- Example 2: issuperset() ---
print(f"Is B a superset of A? {B.issuperset(A)}") # Output: True
print(f"Is A a superset of B? {A.issuperset(B)}") # Output: False

Is B a superset of A? True
Is A a superset of B? False

In [ ]:
# --- Example 3: isdisjoint() ---
print(f"Are A and D disjoint? {A.isdisjoint(D)}") # Output: True (no common elements)
print(f"Are A and B disjoint? {A.isdisjoint(B)}") # Output: False (they share 1, 2, 3)

Are A and D disjoint? True
Are A and B disjoint? False

In [ ]:
# --- Example 4: Chaining methods and logical checks ---
if C.issubset(B) and B.issuperset(C):
    print("C is a subset of B, and B is a superset of C.") # Output: This will print

C is a subset of B, and B is a superset of C.

***ðŸ“š The Dictionary: The Ultimate Information Index***

A dictionary is a powerful and flexible collection of key-value pairs. It's optimized for retrieving a value when you know its corresponding key.

***ðŸ“œ Core Theory of Dictionaries***

**Key-Value Pairs**: This is the essence of a dictionary. Every piece of data (the value) is associated with a unique identifier (the key). You use the key to access the value, like looking up a word in a dictionary to find its definition.

**Ordered (Since Python 3.7)**: In modern Python (3.7+), dictionaries remember the order you inserted items. However, you should still generally access data through keys, not by assumed position, as the primary benefit is key-based lookup.

**Mutable**: You can add, remove, and change key-value pairs after the dictionary is created.

**Unique, Immutable Keys**: Keys must be unique within a dictionary. If you assign a value to an existing key, it overwrites the old value. Keys must also be of an immutable type (like strings, numbers, or tuples). This is because Python needs a stable, hashable value to use for its fast lookup system. Lists cannot be keys.

***ðŸ› ï¸ Dictionary Creation***

**Syntax Explanation**: You create a dictionary using curly braces {}, with each key-value pair written as key: value and separated by commas.

In [ ]:
# --- Example 1: A simple dictionary of a user profile ---
user_profile = {
    "username": "coder_gurl",
    "level": 12,
    "is_active": True
}
print(f"User profile: {user_profile}")

User profile: {'username': 'coder_gurl', 'level': 12, 'is_active': True}

In [ ]:
# --- Example 2: A dictionary where values are lists ---
# This is a very powerful pattern.
student_grades = {
    "Alice": [88, 92, 95],
    "Bob": [76, 81, 85]
}
print(f"Student grades: {student_grades}")

Student grades: {'Alice': [88, 92, 95], 'Bob': [76, 81, 85]}

In [ ]:
# --- Example 3: Creating an empty dictionary and populating it ---
car = {}
car["make"] = "Tesla"
car["model"] = "Model S"
car["year"] = 2025 # Adding a new key-value pair
print(f"Car dictionary built incrementally: {car}")

Car dictionary built incrementally: {'make': 'Tesla', 'model': 'Model S', 'year': 2025}

In [ ]:
# --- Example 4: Creating a dictionary with the dict() constructor ---
# This can be useful for converting other data structures or for keyword arguments.
person = dict(name="Riya", age=21, city="Mumbai")
print(f"Dictionary from constructor: {person}")

Dictionary from constructor: {'name': 'Riya', 'age': 21, 'city': 'Mumbai'}

***ðŸ”‘ Accessing and Modifying Data***

**Syntax Explanation:**

**Accessing my_dict[key]**: Use the key inside square brackets to get its value. This will cause a KeyError if the key doesn't exist.

**Modifying/Adding my_dict[key] = new_value**: If the key exists, its value is updated. If the key does not exist, a new key-value pair is created.

In [ ]:
# Let's use this dictionary for our examples
computer = {
    "brand": "Apple",
    "model": "MacBook Pro",
    "ram_gb": 16
}

# --- Example 1: Accessing an existing value ---
brand_name = computer["brand"]
print(f"The computer brand is: {brand_name}")

The computer brand is: Apple

In [ ]:
# --- Example 2: Changing an existing value ---
print(f"Old RAM: {computer['ram_gb']}GB")
computer["ram_gb"] = 32 # Upgrading the RAM!
print(f"New RAM: {computer['ram_gb']}GB")

Old RAM: 16GB
New RAM: 32GB

In [ ]:
# --- Example 3: Adding a new key-value pair ---
computer["year"] = 2025
print(f"Computer with year added: {computer}")

Computer with year added: {'brand': 'Apple', 'model': 'MacBook Pro', 'ram_gb': 32, 'year': 2025}

In [ ]:
# --- Example 4: Safely accessing with .get() ---
# computer["storage_gb"] would cause a KeyError if "storage_gb" doesn't exist.
# .get() returns None (or a default value you provide) if the key is not found.
storage = computer.get("storage_gb")
print(f"Storage: {storage}") # Output: None

storage_with_default = computer.get("storage_gb", "Not Specified")
print(f"Storage with default: {storage_with_default}") # Output: Storage with default: Not Specified

Storage: None
Storage with default: Not Specified

***âœ¨ Dictionary Methods: Exploring Your Data***

**keys()** - Returns a view object that displays a list of all the keys in the dictionary.

In [ ]:
# Let's use this dictionary for our examples
course = {
    "title": "Python Mastery",
    "duration_hours": 40,
    "instructor": "DJS Infomatrix"
}

# --- Example 1: Getting all the keys ---
the_keys = course.keys()
print(f"Keys of the course dict: {the_keys}") # Output: dict_keys(['title', 'duration_hours', 'instructor'])

Keys of the course dict: dict_keys(['title', 'duration_hours', 'instructor'])

In [ ]:
# --- Example 2: Converting keys to a list ---
keys_as_list = list(course.keys())
print(f"Keys as a list: {keys_as_list}") # Output: ['title', 'duration_hours', 'instructor']

Keys as a list: ['title', 'duration_hours', 'instructor']

In [ ]:
# --- Example 3: Checking for key existence with 'in' (efficient) ---
if "title" in course.keys(): # More Pythonic to just use "title" in course
    print("Course title exists!") # Output: Course title exists!

Course title exists!

In [ ]:
# --- Example 4: Iterating over keys (common use) ---
print("\n--- Looping through keys ---")
for k in course.keys():
    print(k)
# Output:
# title
# duration_hours
# instructor

--- Looping through keys ---
title
duration_hours
instructor

**values()**- Returns a view object that displays a list of all the values in the dictionary.

In [ ]:
# Let's use this dictionary for our examples
course = {
    "title": "Python Mastery",
    "duration_hours": 40,
    "instructor": "DJS Infomatrix"
}

# --- Example 1: Getting all the values ---
the_values = course.values()
print(f"Values of the course dict: {the_values}") # Output: dict_values(['Python Mastery', 40, 'DJS Infomatrix'])

Values of the course dict: dict_values(['Python Mastery', 40, 'DJS Infomatrix'])

In [ ]:
# --- Example 2: Converting values to a list ---
values_as_list = list(course.values())
print(f"Values as a list: {values_as_list}") # Output: ['Python Mastery', 40, 'DJS Infomatrix']

Values as a list: ['Python Mastery', 40, 'DJS Infomatrix']

In [ ]:
# --- Example 3: Checking if a value exists ---
if "Python Mastery" in course.values():
    print("Python Mastery is a value in the dictionary!") # Output: Python Mastery is a value in the dictionary!

Python Mastery is a value in the dictionary!

In [ ]:
# --- Example 4: Iterating over values ---
print("\n--- Looping through values ---")
for v in course.values():
    print(v)
# Output:
# Python Mastery
# 40
# DJS Infomatrix

--- Looping through values ---
Python Mastery
40
DJS Infomatrix

**items()** - Returns a view object that displays a list of a dictionary's key-value tuple pairs.

In [ ]:
# Let's use this dictionary for our examples
course = {
    "title": "Python Mastery",
    "duration_hours": 40,
    "instructor": "DJS Infomatrix"
}

# --- Example 1: Getting all key-value pairs ---
the_items = course.items()
print(f"Items of the course dict: {the_items}") # Output: dict_items([('title', 'Python Mastery'), ('duration_hours', 40), ('instructor', 'DJS Infomatrix')])

Items of the course dict: dict_items([('title', 'Python Mastery'), ('duration_hours', 40), ('instructor', 'DJS Infomatrix')])

In [ ]:
# --- Example 2: Converting items to a list of tuples ---
items_as_list = list(course.items())
print(f"Items as a list of tuples: {items_as_list}") # Output: [('title', 'Python Mastery'), ('duration_hours', 40), ('instructor', 'DJS Infomatrix')]

Items as a list of tuples: [('title', 'Python Mastery'), ('duration_hours', 40), ('instructor', 'DJS Infomatrix')]

In [ ]:
# --- Example 3: Iterating over key-value pairs (most common use) ---
print("\n--- Looping through items ---")
for key, value in course.items():
    print(f"Key: {key}, Value: {value}")
# Output:
# Key: title, Value: Python Mastery
# Key: duration_hours, Value: 40
# Key: instructor, Value: DJS Infomatrix

--- Looping through items ---
Key: title, Value: Python Mastery
Key: duration_hours, Value: 40
Key: instructor, Value: DJS Infomatrix

In [ ]:
# --- Example 4: Using item view in a list comprehension ---
formatted_items = [f"{k}: {v}" for k, v in course.items()]
print(f"Formatted items: {formatted_items}") # Output: ['title: Python Mastery', 'duration_hours: 40', 'instructor: DJS Infomatrix']

Formatted items: ['title: Python Mastery', 'duration_hours: 40', 'instructor: DJS Infomatrix']

***get(key, default_value=None)*** - Returns the value for the specified key if the key is in the dictionary. If not, it returns None or the specified default_value

In [ ]:
# Let's use this dictionary for our examples
user_info = {"name": "Alice", "age": 30}

# --- Example 1: Getting an existing key ---
name = user_info.get("name")
print(f"User name: {name}") # Output: Alice

User name: Alice

In [ ]:
# --- Example 2: Getting a non-existent key (returns None by default) ---
city = user_info.get("city")
print(f"User city (default None): {city}") # Output: None

User city (default None): None

In [ ]:
# --- Example 3: Getting a non-existent key with a custom default value ---
country = user_info.get("country", "Unknown")
print(f"User country (with default): {country}") # Output: Unknown

User country (with default): Unknown

In [ ]:
# --- Example 4: Using get() to avoid KeyError in a loop ---
products = {"apple": 1.0, "banana": 0.5}
items_to_check = ["apple", "orange"]
for item in items_to_check:
    price = products.get(item, "N/A")
    print(f"Price of {item}: {price}")
# Output:
# Price of apple: 1.0
# Price of orange: N/A

Price of apple: 1.0
Price of orange: N/A

**pop(key, default_value)** - Removes the item with the specified key and returns its value. If the key is not found, it raises a KeyError unless a default_value is provided.

In [ ]:
# Let's use this dictionary for our examples
student_record = {"name": "Priya", "id": 101, "grade": "A"}

# --- Example 1: Popping an existing item ---
student_name = student_record.pop("name")
print(f"Popped student name: {student_name}") # Output: Priya
print(f"Record after pop: {student_record}") # Output: {'id': 101, 'grade': 'A'}

Popped student name: Priya
Record after pop: {'id': 101, 'grade': 'A'}

In [ ]:

# --- Example 2: Popping a non-existent key (raises KeyError) ---
try:
    student_record.pop("city")
except KeyError:
    print("Cannot pop 'city' - key not found!") # Output: Cannot pop 'city' - key not found!

Cannot pop 'city' - key not found!

In [ ]:
# --- Example 3: Popping a non-existent key with a default value ---
email = student_record.pop("email", "Not Provided")
print(f"Popped email (with default): {email}") # Output: Not Provided
print(f"Record after safe pop: {student_record}") # Output: {'id': 101, 'grade': 'A'}

Popped email (with default): Not Provided
Record after safe pop: {'id': 101, 'grade': 'A'}

In [ ]:
# --- Example 4: Popping a value and using it immediately ---
last_grade = student_record.pop("grade")
print(f"Priya's final grade was: {last_grade}") # Output: Priya's final grade was: A

Priya's final grade was: A

**popitem()** - Removes and returns an arbitrary (key, value) pair from the dictionary. In Python 3.7+, it removes the last inserted item. Raises KeyError if the dictionary is empty.

In [ ]:
# Let's use this dictionary for our examples
settings = {"theme": "dark", "font_size": 14, "notifications": True}

# --- Example 1: Popping an item (last inserted in modern Python) ---
removed_item = settings.popitem()
print(f"Removed item: {removed_item}") # Output: ('notifications', True) (for Python 3.7+)
print(f"Settings after popitem: {settings}") # Output: {'theme': 'dark', 'font_size': 14}

Removed item: ('notifications', True)
Settings after popitem: {'theme': 'dark', 'font_size': 14}

In [ ]:
# --- Example 2: Popping another item ---
removed_item2 = settings.popitem()
print(f"Removed item: {removed_item2}") # Output: ('font_size', 14)
print(f"Settings after second popitem: {settings}") # Output: {'theme': 'dark'}

Removed item: ('font_size', 14)
Settings after second popitem: {'theme': 'dark'}

In [ ]:
# --- Example 3: Popping until empty ---
print("\nPopping all items:")
while settings:
    key, value = settings.popitem()
    print(f"Popped ({key}, {value})")
# Output:
# Popped (theme, dark)
# (then settings is empty)

Popping all items:
Popped (theme, dark)

In [ ]:
# --- Example 4: Popping from an empty dictionary (raises KeyError) ---
empty_dict = {}
try:
    empty_dict.popitem()
except KeyError:
    print("Cannot popitem from an empty dictionary!") # Output: Cannot popitem from an empty dictionary!

Cannot popitem from an empty dictionary!

**clear()** - Removes all items from the dictionary.

In [ ]:
# --- Example 1: Clearing a dictionary ---
my_dict = {"a": 1, "b": 2}
my_dict.clear()
print(f"Dictionary after clear: {my_dict}") # Output: {}

Dictionary after clear: {}

In [ ]:
# --- Example 2: Clearing a dictionary with nested structures ---
user_data = {"name": "Sam", "hobbies": ["reading", "hiking"]}
user_data.clear()
print(f"User data after clear: {user_data}") # Output: {}

User data after clear: {}

In [ ]:
# --- Example 3: Clearing an already empty dictionary ---
empty_d = {}
empty_d.clear()
print(f"Already empty dict after clear: {empty_d}") # Output: {}

Already empty dict after clear: {}

In [ ]:
# --- Example 4: Verifying emptiness after clear ---
config = {"mode": "dark"}
config.clear()
if not config:
    print("The configuration dictionary is now empty.") # Output: The configuration dictionary is now empty.

The configuration dictionary is now empty.

**update(iterable_or_dict)** - Updates the dictionary with elements from another dictionary object or from an iterable of key/value pairs. If a key is already present, its value is updated; otherwise, new key-value pairs are added.

In [ ]:
# Let's use this dictionary for our examples
user_settings = {"theme": "light", "notifications": True}

# --- Example 1: Updating with another dictionary (existing key updated) ---
new_settings = {"theme": "dark", "font_size": 12}
user_settings.update(new_settings)
print(f"Settings after update: {user_settings}") # Output: {'theme': 'dark', 'notifications': True, 'font_size': 12}

Settings after update: {'theme': 'dark', 'notifications': True, 'font_size': 12}

In [ ]:
# --- Example 2: Adding entirely new keys ---
profile_data = {"age": 25, "location": "NYC"}
user_settings.update(profile_data)
print(f"Settings after adding new keys: {user_settings}") # Output: {'theme': 'dark', 'notifications': True, 'font_size': 12, 'age': 25, 'location': 'NYC'}

Settings after adding new keys: {'theme': 'dark', 'notifications': True, 'font_size': 12, 'age': 25, 'location': 'NYC'}

In [ ]:
# --- Example 3: Updating from a list of tuples (key-value pairs) ---
more_updates = [("notifications", False), ("premium", True)]
user_settings.update(more_updates)
print(f"Settings after updating from list of tuples: {user_settings}") # Output: {'theme': 'dark', 'notifications': False, 'font_size': 12, 'age': 25, 'location': 'NYC', 'premium': True}

Settings after updating from list of tuples: {'theme': 'dark', 'notifications': False, 'font_size': 12, 'age': 25, 'location': 'NYC', 'premium': True}

In [ ]:
# --- Example 4: Using keyword arguments with update() ---
user_settings.update(font_size=16, last_login="2025-06-21")
print(f"Settings after keyword argument update: {user_settings}") # Output: {'theme': 'dark', 'notifications': False, 'font_size': 16, 'age': 25, 'location': 'NYC', 'premium': True, 'last_login': '2025-06-21'}

Settings after keyword argument update: {'theme': 'dark', 'notifications': False, 'font_size': 16, 'age': 25, 'location': 'NYC', 'premium': True, 'last_login': '2025-06-21'}

# ***ðŸš¶â€â™‚ï¸ For Loops: The Grand Tour of Your Data Structures***

A for loop is your universal tool for iterating, or "walking through," every element in a collection, no matter the type.

***Syntax Explanation***: The structure for variable in iterable: assigns each item from the iterable (your list, tuple, set, or dictionary view) to the variable one by one, running the indented code block for each item.

# ***Looping through Lists and Tuples***

In [ ]:
# --- Example 1: Simple printing of a list ---
print("\n--- Shopping List ---")
shopping = ["Milk", "Bread", "Eggs"]
for item in shopping:
    print(f"- {item}")
# Output:
# - Milk
# - Bread
# - Eggs

--- Shopping List ---
- Milk
- Bread
- Eggs

In [ ]:
# --- Example 2: Calculating with a list of numbers ---
total = 0
prices = [10.50, 5.25, 20.00]
for price in prices:
    total = total + price
print(f"Total cost: {total}") # Output: Total cost: 35.75

Total cost: 35.75

In [ ]:
# --- Example 3: Using enumerate() to get index and value ---
# enumerate() is a super useful function for when you need the position.
players = ["Riya", "Aarav", "Priya"]
for index, player in enumerate(players):
    print(f"Player {index + 1}: {player}")
# Output:
# Player 1: Riya
# Player 2: Aarav
# Player 3: Priya

Player 1: Riya
Player 2: Aarav
Player 3: Priya

In [ ]:
# --- Example 4: Looping through a tuple (works exactly the same) ---
print("\n--- RGB Color ---")
rgb = (255, 128, 0)
for value in rgb:
    print(f"Color value: {value}")
# Output:
# Color value: 255
# Color value: 128
# Color value: 0

--- RGB Color ---
Color value: 255
Color value: 128
Color value: 0

# ***Looping through Sets***

In [ ]:
# --- Example 1: Simple printing of a set ---
print("\n--- Unique Tags ---")
unique_tags = {"programming", "python", "data", "ai"}
for tag in unique_tags:
    print(f"Tag: {tag}")
# Output: (order may vary)
# Tag: programming
# Tag: python
# Tag: ai
# Tag: data

--- Unique Tags ---
Tag: programming
Tag: data
Tag: ai
Tag: python

In [ ]:
# --- Example 2: Filtering elements in a set ---
even_numbers = set()
numbers_to_check = {1, 2, 3, 4, 5, 6}
for num in numbers_to_check:
    if num % 2 == 0:
        even_numbers.add(num)
print(f"Even numbers found: {even_numbers}") # Output: {2, 4, 6}

Even numbers found: {2, 4, 6}

In [ ]:
# --- Example 3: Transforming elements in a set ---
fruits_set = {"apple", "banana", "cherry"}
capitalized_fruits = set()
for fruit in fruits_set:
    capitalized_fruits.add(fruit.capitalize())
print(f"Capitalized fruits: {capitalized_fruits}") # Output: {'Apple', 'Cherry', 'Banana'} (order may vary)

Capitalized fruits: {'Banana', 'Cherry', 'Apple'}

In [ ]:
# --- Example 4: Checking for membership while iterating (less common, but possible) ---
target_element = "python"
if target_element in unique_tags:
    print(f"{target_element} is in the set.") # Output: python is in the set.

python is in the set.

# ***Looping through Dictionaries***

In [ ]:
student = {
    "name": "Rohan",
    "college": "D. J. Sanghvi",
    "id": 12345
}

# --- Example 1: The BEST way - using .items() ---
# This gives you both the key and the value in each step.
print("\n--- Student Profile ---")
for key, value in student.items():
    print(f"  {key.replace('_', ' ').title()}: {value}") # Nicer formatting
# Output:
#   Name: Rohan
#   College: D. J. Sanghvi
#   Id: 12345

--- Student Profile ---
  Name: Rohan
  College: D. J. Sanghvi
  Id: 12345

In [ ]:
# --- Example 2: Looping over keys only (default behavior) ---
print("\n--- Profile Fields ---")
for key in student: # This is equivalent to for key in student.keys():
    print(f"Field: {key}")
# Output:
# Field: name
# Field: college
# Field: id

--- Profile Fields ---
Field: name
Field: college
Field: id

In [ ]:
# --- Example 3: Looping over values only ---
print("\n--- Profile Data ---")
for value in student.values():
    print(f"Data: {value}")
# Output:
# Data: Rohan
# Data: D. J. Sanghvi
# Data: 12345

--- Profile Data ---
Data: Rohan
Data: D. J. Sanghvi
Data: 12345

In [ ]:
# --- Example 4: Accessing value inside a key loop ---
# This works, but .items() is more direct and "Pythonic".
print("\n--- Profile (Alternative Loop) ---")
for key in student:
    print(f"  {key.replace('_', ' ').title()}: {student[key]}")
# Output:
#   Name: Rohan
#   College: D. J. Sanghvi
#   Id: 12345

--- Profile (Alternative Loop) ---
  Name: Rohan
  College: D. J. Sanghvi
  Id: 12345

# ***Spot the Bug! ðŸ•µï¸â€â™€ï¸***

Find the error(s) in the following code snippets and explain why they are bugs. Then, fix them.

In [ ]:
#Bug 1 (List)
my_numbers = [10, 20, 30, 40, 50]
print(my_numbers[5])

**Bug Explanation:**
A list in Python is zero-indexed, meaning the first element is at index 0, the second at index 1, and so on. For a list of 5 elements, the valid indices range from 0 to 4. Attempting to access my_numbers[5] is an IndexError because index 5 is out of bounds.

In [ ]:
my_numbers = [10, 20, 30, 40, 50]
print(my_numbers[4]) # To access the last element
# OR
# print(my_numbers[len(my_numbers) - 1]) # More general way to access the last element

50

In [ ]:
#Bug 2 (Tuple)
coordinates = (10, 20)
coordinates.append(30)

**Bug Explanation:**
Tuples are immutable. This means that once a tuple is created, its elements cannot be changed, added, or removed. The append() method is a list method and does not exist for tuples, leading to an AttributeError.

**Fix:**
If you need to "add" an element, you must create a new tuple.

In [ ]:
coordinates = (10, 20)
new_coordinates = coordinates + (30,) # Create a new tuple by concatenating
print(new_coordinates)
# If coordinates really needs to be mutable, it should be a list:
# coordinates = [10, 20]
# coordinates.append(30)

(10, 20, 30)

In [ ]:
#Bug 3 (Set)
my_set = {1, 2, 3}
my_set[0] = 5

**Bug Explanation:**
Sets are unordered and unindexed. You cannot access or modify elements in a set using an index like you can with lists or tuples. This will result in a TypeError.

**Fix:**
To modify a set, you add or remove elements by their value. If you want to change '1' to '5', you must remove '1' and add '5'.

In [ ]:
my_set = {1, 2, 3}
if 1 in my_set:
    my_set.remove(1)
    my_set.add(5)
print(my_set)

{2, 3, 5}

In [ ]:
#Bug 4 (Dictionary)
user = {"name": "Alice", "age": 30}
print(user["city"])

***Bug Explanation:***
When accessing a dictionary value using square bracket notation (my_dict[key]), Python will raise a KeyError if the specified key does not exist in the dictionary.

***Fix:***
You should either check if the key exists before accessing, or use the .get() method which handles non-existent keys gracefully.

In [ ]:
user = {"name": "Alice", "age": 30}

# Fix 1: Check for key existence
if "city" in user:
    print(user["city"])
else:
    print("City key not found.")

# Fix 2: Use .get() method
city = user.get("city")
print(f"User city: {city}") # This will print 'User city: None'

# Fix 3: Use .get() with a default value
city_with_default = user.get("city", "Unknown")
print(f"User city (with default): {city_with_default}") # This will print 'User city (with default): Unknown'

City key not found.
User city: None
User city (with default): Unknown

# ***Guess the Output! ðŸ¤”***

Predict the output of the following code snippets.

In [ ]:
data = [10, 20, 30]
data.append(40)
data.insert(0, 5)
data.pop(2)
print(data)

[5, 10, 30, 40]

**Prediction:**

data starts as [10, 20, 30]

data.append(40) makes it [10, 20, 30, 40]

data.insert(0, 5) makes it [5, 10, 20, 30, 40]

data.pop(2) removes the element at index 2 (which is 20). So data becomes [5, 10, 30, 40]

***Final Output:***

[5, 10, 30, 40]

In [ ]:
info = ("Python", 3, 10, "Bootcamp")
part1 = info[0]
part2 = info[2:]
print(part1, part2)

Python (10, 'Bootcamp')

**Prediction:**

info is ("Python", 3, 10, "Bootcamp")

part1 = info[0] assigns "Python" to part1.

part2 = info[2:] slices the tuple from index 2 to the end, resulting in (10, "Bootcamp").

**Final Output:**

Python (10, 'Bootcamp')

In [ ]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}
s3 = s1.union(s2)
s4 = s1.intersection(s2)
print(s3)
print(s4)

{1, 2, 3, 4, 5, 6}
{3, 4}

**Prediction:**

s3 = s1.union(s2) combines all unique elements from both sets. {1, 2, 3, 4} union {3, 4, 5, 6} results in {1, 2, 3, 4, 5, 6}.

s4 = s1.intersection(s2) finds common elements in both sets. {1, 2, 3, 4} intersection {3, 4, 5, 6} results in {3, 4}.

**Final Output:**

{1, 2, 3, 4, 5, 6} (order may vary)

{3, 4} (order may vary)

In [ ]:
student_data = {"name": "Arjun", "age": 20, "major": "CSE"}
student_data["age"] = 21
student_data["university"] = "DJSCE"
print(student_data.get("major", "N/A"))
print("city" in student_data)

CSE
False

***Prediction:***

student_data starts as {"name": "Arjun", "age": 20, "major": "CSE"}.

student_data["age"] = 21 updates the value for "age" to 21. student_data is now {"name": "Arjun", "age": 21, "major": "CSE"}.

student_data["university"] = "DJSCE" adds a new key-value pair. student_data is now {"name": "Arjun", "age": 21, "major": "CSE", "university": "DJSCE"}.

print(student_data.get("major", "N/A")) retrieves the value for "major", which is "CSE".

print("city" in student_data) checks if the key "city" exists in student_data. It does not, so it will print False.

**Final Output**:

CSE

False

# ***ðŸ‹ï¸ Day 3: Real-Life Exercise Questions***

(These are the same excellent questions as before, now that you have a much deeper understanding of the theory behind them!)


**1. The Ultimate To-Do List Manager (List)**

Create a program that simulates a to-do list.

Start with an empty list called tasks.

Add three tasks (strings) to the list using append().

Print the entire list.

Mark the second task as complete by removing it using pop().

Print a message saying which task you completed and what the remaining tasks are.

Finally, add a new high-priority task to the very beginning of the list using insert().

Print the final list.

**2. The Restaurant Menu (Dictionary)**
You are managing a restaurant's menu.

Create a dictionary called menu where keys are item names (e.g., "Pizza", "Pasta", "Salad") and values are their prices (e.g., 450.00, 350.50, 200.00).

Print the price of "Pasta" by accessing it with its key.

Add a new item, "Garlic Bread", with its price to the menu.

The price of "Pizza" has increased by 50. Update its value.

Use a for loop with .items() to print the entire menu in a clean format, like Pizza: â‚¹450.00.

**3. Event Attendee Tracker (Set)**

You're organizing two tech workshops, one for "Python" and one for "Web Development."

Create two sets of attendee names (strings), python_attendees and web_attendees. Have at least one name that is in both sets.

A new student, "Priya", has joined the Python workshop. Add her to the correct set.

Find and print the names of students who are attending both workshops using a set operation (intersection).

Find and print the names of all unique students attending either workshop using a set operation (union).

**4. GPS Waypoints (List of Tuples)**

You are programming a drone's flight path.

Create a list called flight_path.

Each item in the list should be a tuple representing a waypoint: (latitude, longitude, altitude_in_meters). Add at least three waypoints. For example: (19.07, 72.87, 100).

Use a for loop to iterate through the flight_path.

Inside the loop, print each waypoint's details in a user-friendly format like: Waypoint: Lat=19.07, Lon=72.87, Alt=100m.

**5. Movie Library (Dictionary with Lists)**

Create a mini movie library.

Create a dictionary called movie_library. The keys should be movie titles.
The value for each movie should be another dictionary with keys like "year", "director", and "genres" (the value of "genres" should be a list of strings).

Create entries for at least two movies.

Print the director of one of your movies.

Print the list of genres for another movie.

Add a new genre to one of your movies' genre list.

**6. Simple E-Commerce Cart (The Grand Finale!)**

Simulate a user adding items to a shopping cart.

Create a list called cart which will store dictionaries.

Each item in the cart will be a dictionary with keys: "item_name", "price", and "quantity".

Add three different items to your cart list.

Write a for loop that iterates through the cart. Inside the loop, calculate the total cost for each item (price * quantity).

Keep a running total of the final bill.

After the loop, print the total cost of the shopping cart, formatted nicely.